body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.first-section {
  background-color: gray;
  color: white;
  max-width: 500px;
  width: 100%;
  border-radius: 5px;
  position: relative;
}
body .first-section p{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 28px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100 !important;
}
.first-section:after {
  content: "";
  position: absolute;
  right: 17%;
  width: 0;
  height: 0;
  border-left: 11px solid transparent; /* Adjust this value to change the size of the chevron */
  border-right: 11px solid transparent; /* Adjust this value to change the size of the chevron */
  border-top: 14px solid gray; /* Adjust this value to change the size of the chevron, color should match the background color of .first-section */
}
.progress-line{
  background: linear-gradient(to right, orangered 0%, orangered 70%, white 70%);
  height: 10px;
}
.second-section {
  background-color: white;
  color: black;
  max-width: 500px;
  width: 100%;
  position: relative;
  border: 1px solid darkgray;
}
.second-section p, .second-section div{
  margin: 20px;
  color: gray;
}
.second-section .orange{
  color: orangered;
  font-weight: 600;
}
.second-section div{
  display: flex;
  gap: 10px;
  justify-content: center;

}
.second-section div button{
  padding: 20px 0px;
  border: none;
  background-color: green;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
}
.blue-text{
  color: blue;
}
.third-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-direction: row!important;
  gap :20px;
}

.third-section .end-buttons {
  padding: 10px 20px;
  border: none;
  background-color: gray;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  flex-direction: row;
}